<% layout("/layouts/boilerplate") %>
<H3>Edit the Listing:</H3>
<form method="post" action="/listings/<%=listing._id%>?_method=PUT" enctype="multipart/form-data" class="needs-validation" novalidate>
    <div class="mb-3">
    <label for="title" class="form-label">Title</label>
    <input type="text" name="listing[title]" placeholder="enter title" class="form-control" value="<%= listing.title %>" required>
    <div class="valid-feedback">
        Title Looks good!
    </div>
    <div class="invalid-feedback">
        Enter a Valid Title
    </div>
</div>
<div class="mb-3">
    <label for="description" class="form-label">Description</label>
    <textarea name="listing[description]" placeholder="enter description" class="form-control" required><%=listing.description%></textarea>
    <div class="valid-feedback">
        Description Looks good!
    </div>
    <div class="invalid-feedback">
        Enter a Valid Description
    </div>
</div>
<div class="mb-3" >
    <label for="price" class="form-label">Price</label>
    <input type="number" name="listing[price]" placeholder="enter Price" class="form-control" value="<%=listing.price%>" required>
    <div class="valid-feedback">
            Price Looks good!
    </div>
    <div class="invalid-feedback">
        Enter a Valid Price
    </div>
</div>
<div class="mb-3 ">
    <label for="previewImage">Original Image:-</label><br>
    <img src="<%=originalImageUrl%>" alt="current listing image" class="img-thumbnail" >
</div>
<div class="mb-3">
    <label for="image" class="form-label">Image</label>
    <input type="file" name="listing[image]" placeholder="enter Image link/URL" class="form-control">
    <div class="valid-feedback">
        Image Looks good!
    </div>
    <div class="invalid-feedback">
        Enter a Valid Image
    </div>
</div>
<div class="mb-3">
    <label for="location" class="form-label">Location</label>
    <input type="text" name="listing[location]" placeholder="enter location" class="form-control" value="<%=listing.location%>" required>
    <div class="valid-feedback">
        Location Looks good!
    </div>
    <div class="invalid-feedback">
        Enter a Valid Location
    </div>
</div>
<div class="mb-3">
    <label for="country" class="form-label">Country</label>
    <input type="text" name="listing[country]" placeholder="enter country" class="form-control" value="<%=listing.country%>" required>
    <div class="valid-feedback">
        Country Looks good!
    </div>
    <div class="invalid-feedback">
        Enter a Valid Country
    </div>
</div>
<button class="btn btn-dark edit-btn">Add</button>
</form>